// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Radxa Computer (Shenzhen) Co., Ltd.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include "rk3588s.dtsi"

/ {
        model = "Radxa E54C";
        compatible = "radxa,e54c", "rockchip,rk3582", "rockchip,rk3588s";

        aliases {
                mmc0 = &sdmmc;
                mmc1 = &sdhci;
        };

        chosen {
                stdout-path = "serial2:1500000n8";
        };

        hdmi0-con {
                compatible = "hdmi-connector";
                type = "a";

                port {
                        hdmi0_con_in: endpoint {
                                remote-endpoint = <&hdmi0_out_con>;
                        };
                };
        };

        gpio-keys {
                compatible = "gpio-keys";
                pinctrl-names = "default";
                pinctrl-0 = <&user_key>;
                autorepeat;

                user-key {
                        label = "KEY F15";
                        linux,code = <KEY_F15>;
                        gpios = <&gpio0 RK_PB2 GPIO_ACTIVE_LOW>;
                        debounce-interval = <50>;
                };
        };

        gpio-leds {
                compatible = "gpio-leds";

                sys_led:  sys-led {
                        gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
                        label = "green:sys";
                        linux,default-trigger = "heartbeat";
                };

                wan_led: wan-led {
                        gpios = <&gpio3 RK_PC4 GPIO_ACTIVE_LOW>;
                        label = "green:wan";
                        linux,default-trigger = "netdev";
                };

                lan1_led: lan1-led {
                        gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_LOW>;
                        label = "green:lan1";
                        linux,default-trigger = "netdev";
                };

                lan2_led: lan2-led {
                        gpios = <&gpio1 RK_PB6 GPIO_ACTIVE_LOW>;
                        label = "green:lan2";
                        linux,default-trigger = "netdev";
                };

                lan3_led: lan3-led {
                        gpios = <&gpio1 RK_PB7 GPIO_ACTIVE_LOW>;
                        label = "green:lan3";
                        linux,default-trigger = "netdev";
                };
        };

        dcin_12v: dcin-12v {
                compatible = "regulator-fixed";
                regulator-name = "dcin-12v";
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <12000000>;
                regulator-max-microvolt = <12000000>;
        };

        vcc5v0_sys: vcc5v0-sys {
                compatible = "regulator-fixed";
                regulator-name = "vcc5v0_sys";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                regulator-always-on;
                regulator-boot-on;
                vin-supply = <&dcin_12v>;
        };

        vcc_5v0: vcc-5v0 {
                compatible = "regulator-fixed";
                regulator-name = "vcc_5v0";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                regulator-boot-on;
                regulator-always-on;
                vin-supply = <&vcc5v0_sys>;
        };

        vcc_1v1_nldo_s3: vcc-1v1-nldo-s3 {
                compatible = "regulator-fixed";
                regulator-name = "vcc_1v1_nldo_s3";
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <1100000>;
                regulator-max-microvolt = <1100000>;
                vin-supply = <&vcc5v0_sys>;
        };

        vcc_3v3_pmu: regulator-vcc-3v3-pmu {
                compatible = "regulator-fixed";
                regulator-name = "vcc_3v3_pmu";
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                vin-supply = <&vcc_3v3_s3>;
        };

        vcc5v0_usb_otg0: vcc5v0-usb-otg0-regulator {
                compatible = "regulator-fixed";
                regulator-name = "vcc5v0_usb_otg0";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                enable-active-high;
                gpio = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
                pinctrl-names = "default";
                pinctrl-0 = <&vcc5v0_usb_otg0_en>;
                vin-supply = <&vcc5v0_sys>;
        };

        vcc5v0_usb_hub: vcc5v0-usb-hub-regulator {
                compatible = "regulator-fixed";
                regulator-name = "vcc5v0_usb_hub";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                enable-active-high;
                gpio = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
                pinctrl-names = "default";
                pinctrl-0 = <&vcc5v0_usb_hub_en>;
                vin-supply = <&vcc5v0_sys>;
        };

        vcc5v0_usb3_host: vcc5v0-usb3-host-regulator {
                compatible = "regulator-fixed";
                regulator-name = "vcc5v0_usb3_host";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                enable-active-high;
                gpio = <&gpio0 RK_PD4 GPIO_ACTIVE_HIGH>;
                pinctrl-names = "default";
                pinctrl-0 = <&vcc5v0_usb3_host_en>;
                vin-supply = <&vcc5v0_sys>;
        };

        rtl8367rb_power: rtl8367rb-power-regulator {
                compatible = "regulator-fixed";
                regulator-name = "rtl8367rb_power";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                enable-active-high;
                regulator-boot-on;
                regulator-always-on;
                gpio = <&gpio3 RK_PA6 GPIO_ACTIVE_HIGH>;
                pinctrl-names = "default";
                pinctrl-0 = <&rtl8367rb_power_en>;
        };

        fan: pwm-fan {
                compatible = "pwm-fan";
                #cooling-cells = <2>;
                cooling-levels = <0 64 128 192 255>;
                pwms = <&pwm3 0 10000 0>;
        };

	/* RTL8367RB-VB (num:6367 ver:0020) */
        switch0: switch0 {
                compatible = "realtek,rtl8367b";
                realtek,extif = <6 1 0 1 1 1 1 1 1 2>;
                mii-bus = <&mdio1>;
                phy-id = <29>;
        };
};

/* pcie2x1l2 phy */
&combphy0_ps {
        status = "okay";
};

&combphy2_psu {
        status = "okay";
};

/*
 * In the Rockchip RK3582 SoC, some CPU cores end up disabled
 * and unused because they're marked in the efuses as defective.
 * The disabling in the DT is performed by the boot loader.
 */
&cpu_b0 {
        cpu-supply = <&vdd_cpu_big0_s0>;
};

&cpu_b1 {
        cpu-supply = <&vdd_cpu_big0_s0>;
};

&cpu_b2 {
        cpu-supply = <&vdd_cpu_big1_s0>;
};

&cpu_b3 {
        cpu-supply = <&vdd_cpu_big1_s0>;
};

&cpu_l0 {
        cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l1 {
        cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l2 {
        cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_l3 {
        cpu-supply = <&vdd_cpu_lit_s0>;
};

/*
 * The stmmac driver used by rk3588 has a bug in VLAN.
 * Instead of hacking it, use the legacy switch driver
 * first. Obviously this is not a DSA driver bug.
 */
&gmac1 {
        status = "okay";
        phy-mode = "rgmii";
	phy-supply = <&rtl8367rb_power>;
        clock_in_out = "output";

        pinctrl-names = "default";
        pinctrl-0 = <&gmac1_miim
                     &gmac1_tx_bus2
                     &gmac1_rx_bus2
                     &gmac1_rgmii_clk
                     &gmac1_rgmii_bus>;

        snps,reset-active-low;
        snps,reset-delays-us = <0 10000 10000>;
        snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;

        tx_delay = <0x40>;
        rx_delay = <0x0f>;

        fixed-link {
                speed = <1000>;
                full-duplex;
        };
};

&gpu {
        mali-supply = <&vdd_gpu_s0>;
        status = "okay";
};

&hdmi0 {
        pinctrl-names = "default";
        pinctrl-0 = <&hdmim0_tx0_cec
                     &hdmim1_tx0_hpd
                     &hdmim0_tx0_scl
                     &hdmim0_tx0_sda>;
        status = "okay";
};

&hdmi0_in {
        hdmi0_in_vp0: endpoint {
                remote-endpoint = <&vp0_out_hdmi0>;
        };
};

&hdmi0_out {
        hdmi0_out_con: endpoint {
                remote-endpoint = <&hdmi0_con_in>;
        };
};

&hdptxphy_hdmi0 {
        status = "okay";
};

&i2c0 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c0m2_xfer>;
        status = "okay";

        vdd_cpu_big0_s0: regulator@42 {
                compatible = "rockchip,rk8602";
                reg = <0x42>;
                fcs,suspend-voltage-selector = <1>;
                regulator-name = "vdd_cpu_big0_s0";
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <550000>;
                regulator-max-microvolt = <1050000>;
                regulator-ramp-delay = <2300>;
                vin-supply = <&vcc5v0_sys>;

                regulator-state-mem {
                        regulator-off-in-suspend;
                };
        };

        vdd_cpu_big1_s0: regulator@43 {
                compatible = "rockchip,rk8603", "rockchip,rk8602";
                reg = <0x43>;
                fcs,suspend-voltage-selector = <1>;
                regulator-name = "vdd_cpu_big1_s0";
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <550000>;
                regulator-max-microvolt = <1050000>;
                regulator-ramp-delay = <2300>;
                vin-supply = <&vcc5v0_sys>;

                regulator-state-mem {
                        regulator-off-in-suspend;
                };
        };

        eeprom@50 {
                compatible = "belling,bl24c16a", "atmel,24c16";
                reg = <0x50>;
                pagesize = <16>;
                vcc-supply = <&vcc_3v3_pmu>;
        };
};

&i2c2 {
        status = "okay";

        vdd_npu_s0: vdd_npu_mem_s0: regulator@42 {
                compatible = "rockchip,rk8602";
                reg = <0x42>;
                fcs,suspend-voltage-selector = <1>;
                regulator-name = "vdd_npu_s0";
                regulator-always-on;
                regulator-boot-on;
                regulator-min-microvolt = <550000>;
                regulator-max-microvolt = <950000>;
                regulator-ramp-delay = <2300>;
                vin-supply = <&vcc5v0_sys>;

                regulator-state-mem {
                        regulator-off-in-suspend;
                };
        };
};

&i2c5 {
        pinctrl-names = "default";
        pinctrl-0 = <&i2c5m2_xfer>;
        status = "okay";

        rtc@51 {
                compatible = "haoyu,hym8563";
                reg = <0x51>;
                #clock-cells = <0>;
                clock-output-names = "rtcic_32kout";
                interrupt-parent = <&gpio0>;
                interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;
                pinctrl-names = "default";
                pinctrl-0 = <&rtc_int_l>;
        };
};

/*
 * Currently, there is a VLAN bug when the dwmac driver of rk3588 is
 * used in conjunction with the rtl8365mb dsa driver, so it is temporarily
 * disabled and the traditional switch driver provided by openwrt is used
 * instead.
 */
/*
&mdio1 {
	#address-cells = <1>;
	#size-cells = <0>;

	switch0: switch0@29 {
		compatible = "realtek,rtl8365mb";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <29>;
		reset-gpios = <&gpio3 RK_PB7 IRQ_TYPE_LEVEL_LOW>;

		mdio {
			#address-cells = <1>;
			#size-cells = <0>;

			phy@0 {
				reg = <0>;
			};

			phy@1 {
				reg = <1>;
			};

			phy@2 {
				reg = <2>;
			};

			phy@3 {
				reg = <3>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				label = "lan1";
			};

			port@1 {
				reg = <1>;
				label = "lan2";
			};

			port@2 {
				reg = <2>;
				label = "lan3";
			};

			port@3 {
				reg = <3>;
				label = "wan";
			};

			port@6 {
				reg = <6>;
				label = "cpu";
				ethernet = <&gmac1>;
				phy-mode = "rgmii";
				tx-internal-delay-ps = <2000>;
				rx-internal-delay-ps = <2100>;

				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};
};
*/

&package_thermal {
        polling-delay = <1000>;

        trips {
                package_fan0: package-fan0 {
                        hysteresis = <2000>;
                        temperature = <50000>;
                        type = "active";
                };

                package_fan1: package-fan1 {
                        hysteresis = <2000>;
                        temperature = <65000>;
                        type = "active";
                };
        };

        cooling-maps {
                map0 {
                        cooling-device = <&fan THERMAL_NO_LIMIT 1>;
                        trip = <&package_fan0>;
                };
                map1 {
                        cooling-device = <&fan 2 THERMAL_NO_LIMIT>;
                        trip = <&package_fan1>;
                };
        };
};

/* M.2 M-KEY PCIe */
&pcie2x1l2 {
        pinctrl-names = "default";
        pinctrl-0 = <&pcie20x1_2_perstn_m0>;
        reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
        vpcie3v3-supply = <&vcc_3v3_s3>;
        status = "okay";
};

&package_thermal {
        polling-delay = <1000>;

        trips {
                package_fan0: package-fan0 {
                        temperature = <55000>;
                        hysteresis = <2000>;
                        type = "active";
                };

                package_fan1: package-fan1 {
                        temperature = <65000>;
                        hysteresis = <2000>;
                        type = "active";
                };
        };

        cooling-maps {
                map0 {
                        trip = <&package_fan0>;
                        cooling-device = <&fan THERMAL_NO_LIMIT 1>;
                };

                map1 {
                        trip = <&package_fan1>;
                        cooling-device = <&fan 2 THERMAL_NO_LIMIT>;
                };
        };
};

&pd_gpu {
        domain-supply = <&vdd_gpu_s0>;
};

&pinctrl {
        keys {
                user_key: user-key {
                        rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };

        pcie {
                pcie20x1_2_perstn_m0: pcie20x1-2-perstn-m0 {
                        rockchip,pins = <3 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>;
                };

                pow_en: pow-en {
                        rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };

        rtc {
                rtc_int_l: rtc-int-l {
                        rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };

        rtl8367rb {
                rtl8367rb_power_en: rtl8367rb-power-en {
                        rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
                };
        };

        usb {
                vcc5v0_usb_otg0_en: vcc5v0-usb-otg0-en {
                        rockchip,pins = <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
                };

                vcc5v0_usb_hub_en: vcc5v0-usb-hub-en {
                        rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
                };

                vcc5v0_usb3_host_en: vcc5v0-usb3-host-en {
                        rockchip,pins = <0 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
                };

                usbc0_int: usbc0-int {
                        rockchip,pins = <1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };
};

&pwm3 {
        pinctrl-names = "default";
        pinctrl-0 = <&pwm3m1_pins>;
        status = "okay";
};

&rknn_core_top {
        npu-supply = <&vdd_npu_s0>;
        sram-supply = <&vdd_npu_mem_s0>;
        status = "okay";
};

&rknn_core_1 {
        npu-supply = <&vdd_npu_s0>;
        sram-supply = <&vdd_npu_mem_s0>;
        status = "okay";
};

&rknn_core_2 {
        npu-supply = <&vdd_npu_s0>;
        sram-supply = <&vdd_npu_mem_s0>;
        status = "okay";
};

&rknn_mmu_top {
        status = "okay";
};

&rknn_mmu_1 {
        status = "okay";
};

&rknn_mmu_2 {
        status = "okay";
};

&saradc {
        vref-supply = <&vcca_1v8_s0>;
        status = "okay";
};

&sdhci {
        bus-width = <8>;
        mmc-hs400-1_8v;
        mmc-hs400-enhanced-strobe;
        no-sdio;
        no-sd;
        non-removable;
        status = "okay";
};

&sdmmc {
        bus-width = <4>;
        cap-mmc-highspeed;
        cap-sd-highspeed;
        disable-wp;
        no-sdio;
        no-mmc;
        sd-uhs-sdr104;
        vmmc-supply = <&vcc_3v3_s3>;
        vqmmc-supply = <&vccio_sd_s0>;
        status = "okay";
};

&sfc {
        pinctrl-names = "default";
        pinctrl-0 = <&fspim0_pins>;

        flash@0 {
                compatible = "jedec,spi-nor";
                reg = <0>;
                spi-max-frequency = <104000000>;
                spi-rx-bus-width = <4>;
                spi-tx-bus-width = <1>;
        };
};

&spi2 {
        status = "okay";
        assigned-clocks = <&cru CLK_SPI2>;
        assigned-clock-rates = <200000000>;
        num-cs = <1>;
        pinctrl-names = "default";
        pinctrl-0 = <&spi2m2_cs0 &spi2m2_pins>;

        pmic@0 {
                compatible = "rockchip,rk806";
                reg = <0>;
                gpio-controller;
                #gpio-cells = <2>;
                interrupt-parent = <&gpio0>;
                interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
                pinctrl-names = "default";
                pinctrl-0 = <&pmic_pins>, <&rk806_dvs1_null>,
                            <&rk806_dvs2_null>, <&rk806_dvs3_null>;
                spi-max-frequency = <1000000>;
                system-power-controller;

                vcc1-supply = <&vcc5v0_sys>;
                vcc2-supply = <&vcc5v0_sys>;
                vcc3-supply = <&vcc5v0_sys>;
                vcc4-supply = <&vcc5v0_sys>;
                vcc5-supply = <&vcc5v0_sys>;
                vcc6-supply = <&vcc5v0_sys>;
                vcc7-supply = <&vcc5v0_sys>;
                vcc8-supply = <&vcc5v0_sys>;
                vcc9-supply = <&vcc5v0_sys>;
                vcc10-supply = <&vcc5v0_sys>;
                vcc11-supply = <&vcc_2v0_pldo_s3>;
                vcc12-supply = <&vcc5v0_sys>;
                vcc13-supply = <&vcc_1v1_nldo_s3>;
                vcc14-supply = <&vcc_1v1_nldo_s3>;
                vcca-supply = <&vcc5v0_sys>;

                rk806_dvs1_null: dvs1-null-pins {
                        pins = "gpio_pwrctrl1";
                        function = "pin_fun0";
                };

                rk806_dvs2_null: dvs2-null-pins {
                        pins = "gpio_pwrctrl2";
                        function = "pin_fun0";
                };

                rk806_dvs3_null: dvs3-null-pins {
                        pins = "gpio_pwrctrl3";
                        function = "pin_fun0";
                };

                regulators {
                        vdd_gpu_s0: dcdc-reg1 {
                                regulator-name = "vdd_gpu_s0";
                                regulator-boot-on;
                                regulator-min-microvolt = <550000>;
                                regulator-max-microvolt = <950000>;
                                regulator-ramp-delay = <12500>;
                                regulator-enable-ramp-delay = <400>;

                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };

                        vdd_cpu_lit_s0: dcdc-reg2 {
                                regulator-name = "vdd_cpu_lit_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <550000>;
                                regulator-max-microvolt = <950000>;
                                regulator-ramp-delay = <12500>;

                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };

                        vdd_logic_s0: dcdc-reg3 {
                                regulator-name = "vdd_logic_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <675000>;
                                regulator-max-microvolt = <750000>;
                                regulator-ramp-delay = <12500>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <750000>;
                                };
                        };

                        vdd_vdenc_s0: dcdc-reg4 {
                                regulator-name = "vdd_vdenc_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <550000>;
                                regulator-max-microvolt = <950000>;
                                regulator-ramp-delay = <12500>;

                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };

                        vdd_ddr_s0: dcdc-reg5 {
                                regulator-name = "vdd_ddr_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <675000>;
                                regulator-max-microvolt = <900000>;
                                regulator-ramp-delay = <12500>;

                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                        regulator-suspend-microvolt = <850000>;
                                };
                        };

                        vdd2_ddr_s3: dcdc-reg6 {
                                regulator-name = "vdd2_ddr_s3";
                                regulator-always-on;
                                regulator-boot-on;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                };
                        };

                        vcc_2v0_pldo_s3: dcdc-reg7 {
                                regulator-name = "vcc_2v0_pldo_s3";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <2000000>;
                                regulator-max-microvolt = <2000000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <2000000>;
                                };
                        };

                        vcc_3v3_s3: dcdc-reg8 {
                                regulator-name = "vcc_3v3_s3";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <3300000>;
                                regulator-max-microvolt = <3300000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <3300000>;
                                };
                        };

                        vddq_ddr_s0: dcdc-reg9 {
                                regulator-name = "vddq_ddr_s0";
                                regulator-always-on;
                                regulator-boot-on;

                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };

                        vcc_1v8_s3: dcdc-reg10 {
                                regulator-name = "vcc_1v8_s3";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <1800000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <1800000>;
                                };
                        };

                        vcc_1v8_s0: pldo-reg1 {
                                regulator-name = "vcc_1v8_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <1800000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <1800000>;
                                };
                        };

                        vcca_1v8_s0: pldo-reg2 {
                                regulator-name = "vcca_1v8_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <1800000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <1800000>;
                                };
                        };

                        vdda_1v2_s0: pldo-reg3 {
                                regulator-name = "vdda_1v2_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <1200000>;
                                regulator-max-microvolt = <1200000>;

                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };

                        vcca_3v3_s0: pldo-reg4 {
                                regulator-name = "vcca_3v3_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <3300000>;
                                regulator-max-microvolt = <3300000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <3300000>;
                                };
                        };

                        vccio_sd_s0: pldo-reg5 {
                                regulator-name = "vccio_sd_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <3300000>;

                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };

                        pldo6_s3: pldo-reg6 {
                                regulator-name = "pldo6_s3";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <1800000>;
                                regulator-max-microvolt = <1800000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <1800000>;
                                };
                        };

                        vdd_0v75_s3: nldo-reg1 {
                                regulator-name = "vdd_0v75_s3";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <750000>;
                                regulator-max-microvolt = <750000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <750000>;
                                };
                        };

                        vdda_ddr_pll_s0: nldo-reg2 {
                                regulator-name = "vdda_ddr_pll_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <850000>;
                                regulator-max-microvolt = <850000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <850000>;
                                };
                        };

                        vdda_0v75_s0: nldo-reg3 {
                                regulator-name = "vdda_0v75_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <750000>;
                                regulator-max-microvolt = <750000>;

                                regulator-state-mem {
                                        regulator-on-in-suspend;
                                        regulator-suspend-microvolt = <750000>;
                                };
                        };

                        vdda_0v85_s0: nldo-reg4 {
                                regulator-name = "vdda_0v85_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <850000>;
                                regulator-max-microvolt = <850000>;

                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };

                        vdd_0v75_s0: nldo-reg5 {
                                regulator-name = "vdd_0v75_s0";
                                regulator-always-on;
                                regulator-boot-on;
                                regulator-min-microvolt = <750000>;
                                regulator-max-microvolt = <750000>;

                                regulator-state-mem {
                                        regulator-off-in-suspend;
                                };
                        };
                };
        };
};

&tsadc {
        status = "okay";
};

&u2phy0 {
        status = "okay";
};

&u2phy0_otg {
        phy-supply = <&vcc5v0_usb_otg0>;
        status = "okay";
};

&u2phy2 {
        status = "okay";
};

&u2phy2_host {
        phy-supply = <&vcc5v0_usb_hub>;
        status = "okay";
};

&u2phy3 {
        status = "okay";
};

&u2phy3_host {
        phy-supply = <&vcc5v0_usb3_host>;
        status = "okay";
};

&uart2 {
        pinctrl-0 = <&uart2m0_xfer>;
        status = "okay";
};

&usbdp_phy0 {
        status = "okay";
};

&usb_host0_ehci {
        status = "okay";
};

&usb_host0_ohci {
        status = "okay";
};

&usb_host0_xhci {
        dr_mode = "host";
        status = "okay";
};

&usb_host1_ehci {
        status = "okay";
};

&usb_host1_ohci {
        status = "okay";
};

&usb_host2_xhci {
        status = "okay";
};

&vop_mmu {
        status = "okay";
};

&vop {
        status = "okay";
};

&vp0 {
        vp0_out_hdmi0: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
                reg = <ROCKCHIP_VOP2_EP_HDMI0>;
                remote-endpoint = <&hdmi0_in_vp0>;
        };
};
